.bottom-line::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}
.bottom-line:hover::after{
  color: #fff;
  width: 100%;
}
.bottom-line:hover {
  color: #fff;
}
.bottom-line-reverse::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #3a7eb9;
  transition: width .3s;
}
.bottom-line-reverse:hover::after{
  color: #3a7eb9;
  width: 100%;
}
.bottom-line-reverse:hover {
  color: #3a7eb9;
}
.funky-button:hover {
 color: black;
 background-position: left bottom;
}

.background-box-size:hover .box-board, .background-box-size:hover .box-board-two, .background-box-size:hover .box-board-three, .background-transparent-box:hover .box-in {
  transform: scale(1.2);
}
.field h3:hover, input[type*='submit']:hover {
  background-color: #179b77;
}
input:hover, input:active, textarea:hover, textarea:active {
  border-color: #179b77;
  }
}
