/* GENERAL */


.paddingrestart {
  padding-left: 0;
}
.funky-font {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 800;
}
.funky-font-black {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: 800;
}

/*  ========================================================================*/

.logo {
  display: inline-block;
}

.navbar  {
  float: right;
  list-style: none;

}
.navbar li {
  display: inline-block;
}
.navbar li a {
  text-decoration: none;
  color: #6d6d6d;
}
.funky-button {
  border: 2px solid #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: white;
  background: linear-gradient(to left, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition:all 1s ease;
}
.funky-button a {
  text-decoration: none;
  color: inherit;
  padding-left: 10px;
}
/* NAGŁÓWEK DO TEGO MOMENTU */

.about::before {
  content: "";
  display: block;
  height: 150px;
  background-color: white;
  -webkit-clip-path: polygon(0 84%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 84%, 100% 0, 100% 100%, 0% 100%);
  position: relative;
    top: -133px;
    left: 0;
    right: 0;
}

.about .paddingrestart > h2 {
  margin-top: 0;
}

.about {
  padding-bottom: 100px;
}

.about a {
  text-decoration: none;
  display: inline-block;
}

/* SEKCJA PROJECTS */

.projects::before {
  content: "";
  display: block;
  height: 150px;
  background-color: #f3f3f2;
  -webkit-clip-path: polygon(0 0, 100% 61%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 61%, 100% 100%, 0% 100%);
  position: relative;
    top: -150px;
    left: 0;
    right: 0;
}
.projects::after {
  content: "";
  display: block;
  height: 150px;
  background-color: #f4f4f2;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 24%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 24%, 0 100%);
  position: relative;
    bottom: -150px;
    left: 0;
    right: 0;
}

.projects {
  background-color: #f3f3f2;
  position: relative;
  top: 149px;
}
.projects .margin-bottom {
  margin-bottom: 20px;
}
.background-box-size{
  height: 300px;
  width: 100%;
  overflow: hidden;
}
.background-transparent-box {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.box-board{
  height:100%;
  width: 100%;
  background-image: url('../images/project1.jpeg');
  background-position: center;
  background-size: cover;
  transition: all .5s;
}

.box-board-two {
  height:100%;
  width: 100%;
  background-image: url('../images/project2.jpeg');
  background-position: center;
  background-size: cover;
  transition: all .5s;
}
.box-board-three {
  height:100%;
  width: 100%;
  background-image: url('../images/project3.jpeg');
  background-position: center;
  background-size: cover;
  transition: all .5s;
}


.box-board h3, .box-board-two h3, .box-board-three h3{
  margin-top: 0;
  padding-top: 70px;
  color: white;
}
.box-more h3 > p, .box-board-two h3 > p, .box-board-three h3 > p {
  margin-top:40px;
}
.box-board p, .box-board-two p, .box-board-three p {
  margin: auto;
}
.box-board a, .box-board-two a, .box-board-three a{
  text-decoration: none;
  color: white;
}
.border-more {
  border: 2px solid #fff;
  border-radius: 500px;
  width: 130px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  margin-top: 45px;
}
.border-more p{
  line-height: 40px;
  text-align: center;
}
.box-in {
  height: 100%;
  width: 100%;
  background-color: #f4f4f3;
  margin-bottom: 20px;
  transition: all .5s;
}
.box-shadow {
  box-shadow: 0px 20px 24px 0px rgba(230,230,230,1);
}
.box-in ul {
  list-style: none;
  padding-left: 0;
}
.box-in h3 {
  margin-top: 65px;
}
.box-in p {
  width: 80%;
  margin: auto;
}
/*  SEKCJA KONTAKT*/
.contact {
  background-color: black;
  background-image: url("../images/footer.jpg");
  background-repeat: no-repeat;
  padding-top: 180px;
  background-positioN: center;
  background-size: cover;
}
.field {
  background-color:  rgba(19, 35, 47, 0.9);
  margin: 170px auto;
  padding: 0 20px 20px;
}
.field h3 {
  background-color: #1ab188;
  width: 50%;
  margin: auto;
  position: relative;
  top: -25px;
  height:50px;
  line-height: 50px;
  font-size: 24px;
}
input[type*='submit'] {
  background-color: #1ab188;
  border: none;
  width: 30%;
  margin-top: 20px;
}

label {
  display: block;
}

textarea {
  width: 100%;
  background: transparent;
  border: 1.5px solid rgb(160, 179, 176);
  color: #a0b3b0;
}
.left, .right {
  padding: 20px;
}

.field::after {
  content: "";
  clear: both;
  display: table;
}
label[for*="plec"]::after {
  content: '';
  clear: both;
  display: table;
}
input, select {
  background: transparent;
  border: 1.5px solid rgb(160, 179, 176);
  padding: 10px;
  margin: 10px;
  color: #a0b3b0;
}
select {
  border: none;
}
select option {
  background-color: rgb(15, 31, 41);
}

label[for*="wiadomosc"] {
  color: #a0b3b0;
}
::placeholder {
  color: #a0b3b0;
  padding-left: 20px;
}
/* MODAL */
.mymodal {
  background-color: #f4f4f2;
  margin-top: 40%;
}
.mymodal #btn {
  float: right;

}
.dane{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.modal-content {
  padding: 10px;
}
.dane span {
  color: #f44336;
  float:right;
  padding-left: 50px;
}
.dane textarea {
  margin-top: 10px;
  height: 130px;
}
.float-restart::after {
  content: " ";
  display: table;
  clear: both;
  color: black;

}

.modal-container {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    padding: 0;
}
